# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# build
/.next/
/out/

# env
.env*.local

# debug / OS
npm-debug.log*
.DS_Store
*.pem

# vercel
.vercel
